/* Common part Start*/
body{
	margin: 0;
	padding: 0;

}
/* Common part end*/
/* header section Start*/
header{
	padding: 10px 0;
	border-bottom: 3px solid #EEF0F3;
}
.container{
	width: 90%;
/*	border: 1px solid red;*/
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 12%;
	/*border: 1px solid red;*/
	float: left;
}
.logo img{
	width: 100%;
	
}
.menu{
	margin-top: 3px;
	width: 45%;
	/*border: 1px solid red;*/
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0F2656;	
	text-decoration: none;
	margin: 0 20px;
	display: inline-block;
}
.menu ul li:last-child a{
	margin-right: 0;
}
/* header section end*/
/*banner start*/
.banner{
	padding: 60px 0;

}
.container2{
	width: 55%;
	margin: 0 auto;
/*	border: 1px solid green;*/
}
.b_content{
	text-align: center;
}
.b_content h1 {
	font-family: sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #0F2656;
	margin: 0;

}
.b_content h2 {
	font-family: sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #008AFF;
	margin: 10px 0;
}
.b_content p {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0F2656;
	line-height: 25px;
	word-spacing: 1px;
	margin-top: 0;
	margin-bottom: 15px;
}
.b_image {
	margin: 0 auto;
	width: 70%;
/*	border: 1px solid red;*/
}
.b_image img {
	width: 100%;
}

/*banner end*/
/*success start*/
.success{
	padding: 60px 0;
}
.s_content{
	overflow: hidden;
	font-family: sans-serif;
}
.s_left{
	width: 40%;
/*	border: 1px solid;*/
	float: left;
	text-align: right;
	padding: 0 10px 0 15px;
}
.s_left h2{
	font-size: 42px;
	font-weight: 700;
	color: #F15767;
	margin: 0 0 10px;

}
.s_left p{
	ont-size: 17px;
	font-weight: 400;
	color: #0F2656; 
	margin: 0;
	line-height: 25px;
	word-spacing: 1px;
}
.s_right{
	width: 50%;
/*	border: 1px solid;*/
	float: right;
	padding: 0 15px 0 10px;
}
.s_right h1{
	font-size: 46px;
	font-weight: 700;
	color: #0F2656;
	line-height: 50px;
	margin: 0;
}


/*success end*/
/*feature start*/
.feature{}
.f_content{
	overflow: hidden;
}
.f_single{

    width: 27.5%;
    /* border: 1px solid; */
    font-family: sans-serif;
    color: #0F2656;
    padding: 30px 1.5% 45px;
    float: left;
    margin-right: 2.5%;
}
.f_single: last-child{
	margin-right: 0;
}
.pink{
	background-color: #FDEBED;
}
.green{
	background-color: #EBF9F4;
}
.yellow{
	background-color: #FFF7E8;
}
.f_img img{
	width: 100%;
}
.f_single h2{
	font-size: 22px;
	font-weight: 700;
	margin: 20px 0;

}
.f_single p{
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

/*feature end*/
/*footer start*/
footer {
    margin-top: 60px;
    padding: 20px 0;
    background: #008AFF;
    font-family: sans-serif;
}

footer h2 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #9EC7FF;
    letter-spacing: 1px;
}
/*footer start*/